services:
  app:
    container_name: django_cars_app
    build:
      context: .  
      dockerfile: Dockerfile
    command: 
    volumes:
      - .:/app  
    working_dir: /app
    ports:
      - "8000:8000"  
  db:
    image: postgres:17
    container_name: tours_db
    restart: on-failure
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER}" ]
      interval: 5s
      retries: 5
    ports:
      - "5433:5432"