aiohttp==3.13.3
alembic==1.17.2
asyncpg==0.31.0
fastapi==0.128.0
fastapi-cache2==0.2.2
fastapi-cli==0.0.20
fastapi-pagination==0.15.4
fastapi_profiler==1.4.1
email-validator==2.3.0
httpx==0.28.1
SQLAlchemy==2.0.45
pydantic==2.12.5
pydantic-extra-types==2.10.3
pydantic-settings==2.11.0
pydantic_core==2.41.5
python-multipart==0.0.21
python-jose[cryptography]==3.5.0
pytest==8.3.5
pytest-asyncio==1.1.0
passlib[bcrypt]==1.7.4
python-dotenv==1.2.1
testcontainers==4.12.0
uvicorn==0.40.0

mkdocs-gen-files==0.6.0
mkdocs-literate-nav==0.6.2
mkdocs-material==9.7.1
mkdocstrings[python]==1.0.0